model 1
cars
addpath 1
/home/zhenya/ForeSee
input_name 2
In1
In2
input_range 2
0 1
0 1
optimization 1
cmaes
phi 5
car1 alw_[0,100](Out5[t] - Out4[t] <= 40)
car2 alw_[0,70](ev_[0,30](Out5[t]-Out4[t] >= 15))
car3 alw_[0,80]((alw_[0,20](Out2[t] - Out1[t]<=20)) or (ev_[0,20](Out5[t]-Out4[t]>=40)))
car4 alw_[0,65](ev_[0,30](alw_[0,5](Out5[t]-Out4[t] >= 8)))
car5 alw_[0,72](ev_[0,8](not alw_[0,5](Out2[t]-Out1[t] >= 9) or alw_[5,20](Out5[t]-Out4[t]>= 9)))
controlpoints 1
20
scalar 1
0.2
budget_p 1
10
timespan 1
0:.01:100
timeout 1
3000
trials 1
10
interp 1
linear
