model 1
SimplifiedWTModelFALS
addpath 1
/home/zhenya/ForeSee
input_name 1
In1
input_range 1
8 16
optimization 1
cmaes
phi 4
wt1 alw_[30, 630](Out6[t] <= 14.2)
wt2 alw_[30, 630](Out3[t] >= 21000 and Out3[t]< 47500)
wt3 alw_[30, 630](Out5[t] <= 14.3)
wt4 alw_[30, 630](ev_[0,5](abs(Out6[t] - Out1[t]) <= 1.6))
controlpoints 1
126
scalar 1
0.2
budget_p 1
10
timespan 1
0:1:630
timeout 1
600
trials 1
50
