model 1
AbstractFuelControl_M1
addpath 1
/home/zhenya/ForeSee
input_name 2
throttle
engine
input_range 2
0 61.1
900 1100
optimization 1
cmaes
phi 2
afc29 alw_[11.0, 50.0] (mu[t] < 0.007 and mu[t] > -0.007)
afc27 alw_[11.0, 50.0] ((((throttle[t] < 8.8) and ev_[0.0, 0.05] (40.0 < throttle[t])) or ((40.0 < throttle[t]) and ev_[0.0, 0.05] (throttle[t] < 8.8))) => alw_[1.0, 5.0] (mu[t] < 0.008 and mu[t]>-0.008))
controlpoints 1
10
scalar 1
0.2
budget_p 1
10
timespan 1
0:.01:50
parameters 7
simTime=50;
measureTime=1;
fault_time=60;
spec_num=1;
fuel_inj_tol=1;
MAF_sensor_tol=1;
AF_sensor_tol=1;
trials 1
50
timeout 1
600
