model 1
Autotrans_shift
input_name 2
throttle
brake
input_range 2
0 100
0 325
optimization 1
cmaes
phi 9
AT1 alw_[0.0, 20.0](speed[t] < 120.0)
AT2 alw_[0.0, 10.0](RPM[t] < 4750.0)
AT51 alw_[0.0, 30.0] (((gear[t] != 1.0) and ev_[0.001, 0.1] (gear[t] == 1.0)) => ev_[0.001, 0.1] alw_[0.0, 2.5] (gear[t] == 1.0))
AT52 alw_[0.0, 30.0] (((gear[t] != 2.0) and ev_[0.001, 0.1] (gear[t] == 2.0)) => ev_[0.001, 0.1] alw_[0.0, 2.5] (gear[t] == 2.0))
AT53 alw_[0.0, 30.0] (((gear[t] != 3.0) and ev_[0.001, 0.1] (gear[t] == 3.0)) => ev_[0.001, 0.1] alw_[0.0, 2.5] (gear[t] == 3.0))
AT54 alw_[0.0, 30.0] (((gear[t] != 4.0) and ev_[0.001, 0.1] (gear[t] == 4.0)) => ev_[0.001, 0.1] alw_[0.0, 2.5] (gear[t] == 4.0))
AT6a (alw_[0.0, 30.0] (RPM[t] < 3000.0) => alw_[0.0, 4.0] (speed[t] < 35.0))
AT6b (alw_[0.0, 30.0] (RPM[t] < 3000.0) => alw_[0.0, 8.0] (speed[t] < 50.0))
AT6c (alw_[0.0, 30.0] (RPM[t] < 3000.0) => alw_[0.0, 20.0] (speed[t] < 65.0))
controlpoints 1
5
timespan 1
0:.01:30
timeout 1
600
trials 1
50
scalar 1
0.2
budget_p 1
10
addpath 1
/home/zhenya/ForeSee
